# Desenvolvimento
COLLECTOR_API_BASE_URL=http://localhost:3333
COLLECTOR_WS_URL=ws://localhost:3333/ws/agent

# Produção
# COLLECTOR_API_BASE_URL=https://api-cold-monitor.onrender.com
# COLLECTOR_WS_URL=wss://api-cold-monitor.onrender.com/ws/agent
