# Node
/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build outputs
/dist/
/dist-electron/
/out/
build/
release/
*.exe
*.msi
*.dmg
*.AppImage
**/win-unpacked/
**/mac/
**/linux-unpacked/
*.zip
*.7z
*.tar.gz

# Electron build artifacts
/electron-builder-cache/
/*.local

# VS Code
.vscode/
!.vscode/extensions.json

# IDEs and editors
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log

# Temporary files
/tmp/
temp/

# OS files
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

# Environment files
.env
.env.local
.env.*.local
